@import '~vuetify/src/stylus/theme.styl'

$material-light.background = #fff

$body-background = '#ffffff'

$body-font-family = serif

.theme--light.application .v-content__wrap {
  background: #ffffff;
  background-color: #ffffff;
  color: #888888;
}

.v-tabs__item--active {
  background-color: #fafafa;
}

@import '~vuetify/src/stylus/main'